@model Restaurante_siglo_XI.Boleta
@using Restaurante_siglo_XI


@{ Pedido m = (Pedido)ViewBag.pedido; }
<section id="formulario">
    <h2>CREAR BOLETA</h2>
    creando boleta para la mesa @m.mesas.numeroMesa
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(b=> b.fechaEmision, new {Value = @DateTime.Now , disabled = "disabled" })
        @Html.Hidden("id_mesa",(int)m.id_mesa)
        <br />
        @Html.TextBoxFor(b => b.totalBoleta, new { type = "number", placeholder = "Total de la compra", required = "required" })
        <br />
        <button>CREAR BOLETA Y GUARDAR</button>
    }
</section>