@model Restaurante_siglo_XI.Personal


@{ViewBag.Title = "Registro de personal necesario";}

<h2>Registro de clientes</h2>
<button>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>
@using (Html.BeginForm())
{

    @Html.TextBoxFor(p => p.rutpersona, new { placeholder = "Rut:XXXXXXXX-X", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.Nombre_persona, new { placeholder = "nombre", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.apellidosPersonal, new { placeholder = "Apellido Paterno", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.Correo_personal, new { Type = "email", placeholder = "Correo Electronico", required = "required" })
    <br />
    @Html.PasswordFor(p => p.contrasenia, new { placeholder = "Contraseña", required = "required" })
    <br />
    @Html.DropDownListFor(p => p.cargo_id, new SelectList(ViewBag.cargo, "id", "nombre_cargo"))
    @Html.DropDownListFor(p => p.comuna_id, new SelectList(ViewBag.comunas, "id_comuna", "NOMBRE_COMUNA"))
    @Html.DropDownListFor(p => p.id_bodega, new SelectList(ViewBag.bodega, "id_bodega", "NOMBREBODEGA"))
    <br />
    <button>Crear Personal</button>
}

