@model Restaurante_siglo_XI.Personal
@{
    ViewBag.Title = "Editar";
}



<button>@Html.ActionLink("Volver a la pagina principal del administrador", "homeAdmin", "Persona")</button>
<button>@Html.ActionLink("Volver a la lista de personas", "Index", "Persona")</button>
@using (Html.BeginForm())
{
<section id="formulario">
    <h2>Edita Personal</h2>
    @Html.HiddenFor(p => p.id_persona)
    @Html.TextBoxFor(p => p.rutpersona, new { placeholder = "Rut:XXXXXXXX-X", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.Nombre_persona, new { placeholder = "nombre", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.apellidosPersonal, new { placeholder = "Apellido Paterno", required = "required" })
    <br />
    @Html.TextBoxFor(p => p.Correo_personal, new { Type = "email", placeholder = "Correo Electronico", required = "required" })
    <br />
    @Html.HiddenFor(p => p.contrasenia)
    <br />
    @Html.DropDownListFor(p => p.cargo_id, new SelectList(ViewBag.cargo, "id", "nombre_cargo"))
    @Html.DropDownListFor(p => p.comuna_id, new SelectList(ViewBag.comunas, "id_comuna", "NOMBRE_COMUNA"))
    @Html.DropDownListFor(p => p.id_bodega, new SelectList(ViewBag.bodega, "id_bodega", "NOMBREBODEGA"))
    <button>Modificar</button>
</section>

}
