@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Home";
}


@{ Cliente personas = (Cliente)ViewBag.cliente;}
<!--
    -->

<section id="main_user">
    <h2>Bienvenido @personas.nombre_cliente @personas.apellidoP @personas.apellidoM</h2>
    <br />
    <a id="botonCliente" href="@Url.Action("Create","Reserva",new {id = personas.id_cliente })"><i class="fas fa-address-book"></i>Crear Reservas</a>

    <a id="botonCliente" href="@Url.Action("reCliente","Reserva",new {id = personas.id_cliente })"> <span><i class="fas fa-book"></i>Ver Reservas creadas</span></a>
</section>

