@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Home";
}

@{ Cliente personas = (Cliente)ViewBag.cliente;}

<!--
    -->

<h2>Bienvenido @personas.nombre_cliente @personas.apellidoP @personas.apellidoM</h2>

<button id="botonCliente"><a href="@Url.Action("Create","Reserva",new {id = personas.id_cliente })"> Crear Reservas</a></button>
<br />
<button id="botonCLiente"><a href="@Url.Action("reCliente","Reserva",new {id = personas.id_cliente })"> Ver Reservas creadas</a></button>
