
@{
    ViewBag.Title = "Pagina principal administrador";
}

<h2>Administrador</h2>

crear producto
<button>@Html.ActionLink("crear Nuevo Producto","Create","Producto")</button>
<br />
la lista de producto
<button>@Html.ActionLink("Lista de todos los productos", "Index", "Producto")</button>
--
<br />
lista de las reservas todas
<button>@Html.ActionLink("Ver reservas creadas", "Index", "Reserva")</button>
--
<br />
lista de todas las mesas disponibles o ocupadas
<button>@Html.ActionLink("Lista de las mesas", "ListaAdmin", "Mesa")</button>
<br />
crear mesas nuevas
<button>@Html.ActionLink("crear Nueva Mesa", "Create", "Mesa")</button>
--
<br />
<button>@Html.ActionLink("Crear Persona", "Create", "Persona")</button>

<br />
personas lista
<button>@Html.ActionLink("Ver clientes registrados", "Index", "Persona")</button>
<br />
<button>@Html.ActionLink("Ver pedidos", "Index", "Pedidos")</button>
