
@{
    ViewBag.Title = "Pagina principal administrador";
}

<h2>Administrador</h2>


<button>@Html.ActionLink("Registrar Nuevo Producto", "Create", "Producto")</button>
<br />
<button>@Html.ActionLink("Lista de todos los productos", "Index", "Producto")</button>
<br />
<button>@Html.ActionLink("Ver reservas creadas", "Index", "Reserva")</button>
<br />
<button>@Html.ActionLink("Lista de las mesas", "ListaAdmin", "Mesa")</button>
<br />
<button>@Html.ActionLink("crear Nueva Mesa", "Create", "Mesa")</button>
<br />
<button>@Html.ActionLink("Crear Persona", "Create", "Persona")</button>

<br />
<button>@Html.ActionLink("Ver clientes registrados", "Index", "Persona")</button>
<br />
<button>@Html.ActionLink("Ver pedidos", "Index", "Pedidos")</button>

