@model Restaurante_siglo_XI.Reserva
@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Crear reserva";
}

@{ Cliente cl = (Cliente)ViewBag.cliente;}
<a href="@Url.Action("homeUser","Persona",new {correo = cl.correoCliente})"><i class="fas fa-arrow-circle-left"></i>VOLVER</a>

@using (Html.BeginForm())
{
    <section id="formulario">
        <h2>Crear Reserva</h2>
        @Html.TextBoxFor(r => r.fecha_reserva, new {  id = "fecha" })
        <br />
        @Html.Hidden("id_cliente", (int)cl.id_cliente)
        @Html.Hidden("correo", cl.correoCliente)
        <br />
        <tr>N° de la mesa </tr>
        @Html.DropDownListFor(p => p.id_mesa_reserva, new SelectList(ViewBag.mesas, "id_mesa", "numeroMesa"))
        <br />
        <button>CREAR RESERVA</button>
    </section>


}