@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Lista de las reservas";
}

<h2>Lista de todas las reservas</h2>


@{List<Reserva> reservas = (List<Reserva>)ViewBag.reservas;}
<button><i class="fas fa-arrow-circle-left"></i>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>fecha reserva</th>
                <th>mesa a ocupar</th>
                <th>Cliente</th>
            </tr>
            @foreach (var r in reservas)
            {
                <tr>
                    <td>@r.fecha_reserva</td>
                    <td>@r.mesa.numeroMesa</td>
                    <td>@r.cliente.nombre_cliente @r.cliente.apellidoP @r.cliente.apellidoM</td>
                </tr>
            }
        </table>
    </div>
</div>