@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Lista de las mesas";
}

<h2>Lista de las mesas</h2>

@{List<Mesa> mesas = (List<Mesa>)ViewBag.mesas;}
<button><i class="fas fa-arrow-circle-left"></i>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>
<button>@Html.ActionLink("crear Nueva Mesa", "Create", "Mesa")</button>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>numero de la mesa</th>
                <th>cantidad de comensales en mesa</th>
                <th>ubicacion de la mesa</th>
                <th>Mesa usada(1 o 0)</th>
                <th>opciones</th>
            </tr>
            @foreach (var m in mesas)
            {
                <tr>
                    <td>@m.numeroMesa</td>
                    <td>@m.maxima_comensales</td>
                    <td>@m.ubicacion.nombre_ubicacion</td>
                    <td>@m.mesaUsada</td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = m.id_mesa })
                        @Html.ActionLink("Eliminar", "Delete", new { id = m.id_mesa })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>