@model Restaurante_siglo_XI.Producto
@{
    ViewBag.Title = "Registrar producto";
}

<button><i class="fas fa-arrow-circle-left"></i>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>

@using (Html.BeginForm())
{
    <section id="formulario">

        <h2>Ingrese el producto para registrar</h2>
        @Html.TextBoxFor(prod => prod.nombre_producto, new { placeholder = "nombre del producto", required = "required" });
        <br />
        @Html.TextBoxFor(prod => prod.decripcion_producto, new { placeholder = "Descripcion del producto opcional" });
        <br />
        @Html.TextBoxFor(prod => prod.Stock, new { type = "number", placeholder = "cantidad producto", required = "required" });
        <br />
        @Html.TextBoxFor(prod => prod.precioProducto, new { type = "number", placeholder = "Precio", required = "required" });
        <br />
        @Html.DropDownListFor(prod => prod.id_categoria, new SelectList(ViewBag.categoria, "id_categoria", "nombre_categoria"))
        @Html.DropDownListFor(prod => prod.id_bodega, new SelectList(ViewBag.bodega, "id_bodega", "NOMBREBODEGA"))
        <br />
        <button>Guardar producto</button>
    </section>

}
