@using Restaurante_siglo_XI
@{
    ViewBag.Title = "Pedidos";
}

<h2>Lista de pedidos generados</h2>

@{List<Pedido> pedido = (List<Pedido>)ViewBag.pedidos; }
<button><i class="fas fa-arrow-circle-left"></i>@Html.ActionLink("Volver", "homeAdmin", "Persona")</button>
<button>@Html.ActionLink("Crear Pedidos", "Create", "Pedidos")</button>
@using (Html.BeginForm())
 {

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Numero de la mesa</th>
                <th>algo adicional</th>
                <th>nombre del menu</th>
                <th>estado actual</th>
                <th></th>
            </tr>
            @foreach (var p in pedido)
            {
                <tr>
                    @if (p.id_estado != 3)
                    {
                        <td>@p.mesas.numeroMesa</td>
                        <td>@p.pedidoAdicional</td>
                        <td>@p.menu.nombre_menu</td>
                        <td>@p.estado.nombre_estado</td>
                        <td>
                            @Html.ActionLink("Modificar", "Edit", new { id = p.id_pedido })
                        </td>

                    }

                </tr>
            }
            
        </table>
    </div>
</div>
 }